SUPABASE_URL=https://rowzcfhreyafgfwggxzx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJvd3pjZmhyZXlhZmdmd2dneHp4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzk5MTk0MTIsImV4cCI6MjA1NTQ5NTQxMn0.txKCgHZGb8lS6jNkFXRsxp_fq_fzUNdSE_epr4UFrh4
SUPABASE_BASE_KEY= # The default key for the client (can be changed for tests. Fallback to SUPABASE_ANON_KEY)
